<h2><%= @cocktail.name %></h2>
<p><%= link_to 'Edit name', edit_cocktail_path(@cocktail) %></p>
<p><%= link_to 'Delete cocktail', cocktail_path(@cocktail), method: :destroy, data: { confirm: 'Delete this cocktail?' } %></p>

<div class="ingredients">
  <h3>Ingredients</h3>
  <% doses = Dose.where('cocktail_id = ?', @cocktail.id) %>
  <% doses.each do |dose| %>
    <div class="ingredient-card">
      <% ingredient = dose.ingredient %>
      <p><%= ingredient.name %> - <em>"<%= dose.description %>"</em></p>
      <p><%= link_to 'Delete', dose_path(dose), method: :delete, data: { confirm: 'Delete this ingredient?' } %></p>
    </div>
  <% end %>
</div>

<div class="ingredient-form">
  <%= render 'doses/form' %>
</div>
